@charset "utf-8";

// Import the initial variables
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/functions.sass";

// Setup initial variables
$family-sans-serif:	'IBM Plex Sans', $family-sans-serif;

// Setup derived variables
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;

// Setup generic variables
$body-family: $family-primary;

// Setup custom colors
$grey-medium-light:hsl(0, 0%, 60%);
$grey-medium-light-invert: findColorInvert($grey-medium-light); // stylelint-disable-line

// Add custom color variables to the color map
@import "bulma/sass/utilities/derived-variables.sass";
$customColors: (
  "grey-medium-light":($grey-medium-light, $grey-medium-light-invert)
);
$colors: map-merge($colors, $customColors);

// Import the remaining part of Bulma
@import "bulma/bulma.sass";
