@charset "utf-8";

// Import the initial variables
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/functions.sass";

// Setup initial variables
$family-sans-serif:	'IBM Plex Sans', $family-sans-serif;

// Setup derived variables
$primary: #164450;
$primary-invert: findColorInvert($primary);

$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;

// Setup generic variables
$body-family: $family-primary;

// Setup custom colors
$grey-medium-light:hsl(0, 0%, 60%);
$grey-medium-light-invert: findColorInvert($grey-medium-light); // stylelint-disable-line
$primary-tint-30: mix(white, $primary, 30%);

// Add custom color variables to the color map
@import "bulma/sass/utilities/derived-variables.sass";
$customColors: (
  "grey-medium-light":($grey-medium-light, $grey-medium-light-invert)
);
$colors: map-merge($colors, $customColors);

$notification-radius: 8px;
$tag-background-color: mix(white, $primary, 65%);
$tag-color: #fff;

// Import the remaining part of Bulma
@import "bulma/bulma.sass";

// Bulma breakpoints
$mobile: 768px; // <=768px
$tablet: 769px; // >=769px
$desktop: 1024px; // >=1024px && <=1215px;
$widescreen: 1216px; // >=1216px && <=1407px
$fullhd: 1408px; // >=1408px and above

@mixin on-mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin from-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin from-desktop {
  @media screen and (min-width: $desktop) {
    @content;
  } 
}

@mixin from-widescreen {
  @media screen and (min-width: $widescreen) {
    @content;
  } 
}

@mixin from-fullhd {
  @media screen and (min-width: $fullhd) {
    @content;
  }
}

.justify-content-center {
  justify-content: center;
}

.main-content {
  @include on-mobile() {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.homepage, .default-list {
  font-family: 'Ruda', 'IBM Plex Sans', sans-serif;

  h1 {
    text-align: center;
  }

  .page-list-item {
    position: relative;
    background: linear-gradient(87deg, mix(white, $primary, 95%), mix(white, $primary, 95%));
    // border-bottom: 1px solid #dbdbdb;
    border-radius: 0.5rem;

    margin-bottom: 2rem;
    padding-top: 1.5rem;
    padding-left: 1.75rem;
    padding-bottom: 2rem;

    font-weight: 500;

    &:hover {
      cursor: pointer;

      .page-list-item-title {
        text-decoration: underline;
      }
    }
    
    .page-list-item-title {
      a {
        color: mix(white, $primary, 15%);
      }
    }

    .page-list-item-date {
      font-size: 0.8rem;
    }

    .page-list-item-type {
      position: absolute;
      right: 0;
      top: 0;

      background: mix(white, $primary, 40%);
      border-radius: $radius;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0.25rem;
      
      color: #fff;
      font-weight: bold;
      font-size: 0.7rem;
    }
  }
}

.guide-list {
  font-family: 'Ruda', 'IBM Plex Sans', sans-serif;

  h1 {
    text-align: center;
  }

  .page-list-item {
    position: relative;
    background: linear-gradient(87deg, mix(white, $primary, 95%), mix(white, $primary, 95%));
    border-radius: 0.5rem;

    margin-bottom: 2rem;
    padding-top: 1.5rem;
    padding-left: 1.75rem;
    padding-bottom: 2rem;

    font-weight: 500;

    &:hover {
      cursor: pointer;

      .page-list-item-title {
        text-decoration: underline;
      }
    }
    
    .page-list-item-title {
      a {
        color: mix(white, $primary, 15%);
      }
    }

    .page-list-item-date {
      font-size: 0.8rem;
    }
  }
}

.main-navbar {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;

  ul {
    display: flex;
    list-style-type: none;
    overflow-x: auto;
    overflow-y: hidden;

    li {
      flex: auto;
      text-align: center;
    }

    li a {
      padding: 0.5rem;
      border-radius: 7px;
      color: $primary-tint-30;
      font-weight: 500;
    }

    li a.active {
      color: $primary;
      font-weight: 700;
    }

    li a:hover {
      color: $primary;
    }
  }

  @include on-mobile() {
    ul {
      li:first-child a {
        margin-left: 0.8rem;
      }
  
      li a {
        margin-right: 0.8rem;
      }
    }
  }

  @include from-desktop() {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
}

#hero {
  padding-bottom: 1.5rem;
  text-align: center;

  .profile-image {
    border-radius: 50%;
  }

  .full-name {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
  }

  .short-description {
    font-family: 'Ruda', 'IBM Plex Sans', sans-serif;
    font-size: 1.25rem;
  }

  .social-networks {
    display: flex;
    justify-content: center;

    .link {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
}

section.self-description {
  background: $light;

  margin-top: 2em;
  padding-top: 2rem;
  padding-bottom: 8rem;
  
  p:first-child {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.25rem;
    text-align: center;
  }
}

section.skills {
  text-align: center;
  margin-top: 2rem;

  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .skill {
    margin-bottom: 1rem;

    .box {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    h3 {
      font-size: 1.3rem;
      font-weight: 500;
      text-align: left;
      margin-bottom: 0.1rem;
    }
    
    p {
      font-size: 1.2rem;
      text-align: left;
    }
  }
}

.guides {
  font-family: 'Ruda', 'IBM Plex Sans', sans-serif;

  h1 {
    margin-bottom: 0;
    color: $primary;
    text-align: center;
  }

  .publish-date {
    text-align: center;
  }
}

.guide-section {
  margin-bottom: 1rem;
  padding: 1.25rem;

  h2:first-child {
    margin-bottom: 1rem;
    padding-left: 0.4rem;
    color: mix(white, $primary, 15%);
    font-size: 1.4rem;
    font-weight: 500;
  }
}

::selection {
  background-color: $primary;
  color: #fff;
}

div.highlight {
  $boxShadowColor: rgba(hsl(0, 0%, 4%), 0.1);
  border-radius: 6px;
  box-shadow: 0 2px 3px $boxShadowColor, 0 0 0 1px $boxShadowColor;

  pre code {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 1.1rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#wrapper {
  flex: 1;
}

footer {
  font-family: 'Ruda', 'IBM Plex Sans', sans-serif;

  padding: 0.5rem;
  margin-top: 2rem;
}
