@charset "utf-8";

// Import the initial variables
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/functions.sass";

// Setup initial variables
$family-sans-serif:	'IBM Plex Sans', $family-sans-serif;

// Setup derived variables
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;

// Setup generic variables
$body-family: $family-primary;

// Setup custom colors
$grey-medium-light:hsl(0, 0%, 60%);
$grey-medium-light-invert: findColorInvert($grey-medium-light); // stylelint-disable-line

// Add custom color variables to the color map
@import "bulma/sass/utilities/derived-variables.sass";
$customColors: (
  "grey-medium-light":($grey-medium-light, $grey-medium-light-invert)
);
$colors: map-merge($colors, $customColors);

// Import the remaining part of Bulma
@import "bulma/bulma.sass";

#hero {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;

  .profile-image {
    border-radius: 50%;
  }

  .full-name {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
  }

  .short-description {
    font-family: 'IBM Plex Sans', sans;
    font-size: 1.25rem;
  }

  .social-networks {
    a {
      margin-right: 1rem;
    }
  }
}

section.self-description {
  background: $light;

  margin-top: 2em;
  padding-top: 2rem;
  padding-bottom: 8rem;
  
  p:first-child {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.25rem;
    text-align: center;
  }
}

#navbar {
  margin-bottom: 0.5rem;
}
