<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="wrapper">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          {{- partial "header.html" . -}}
        </div>
      </div>
  
      <div class="columns">
        <div class="column">
          {{- block "main" . }}{{- end }}
        </div>
      </div>
    </div>

    {{- partial "footer.html" . -}}
  </body>

  <script>
    const listItemDivs = document.querySelectorAll('.page-list-item');

    listItemDivs.forEach(div => {
      div.onclick = e => div.querySelector('.page-list-item-title a').click();
    });
  </script>
</html>
