{{ define "main" }}
  <section class="default-list">
    <div class="columns justify-content-center">
      <div class="column is-half">
        {{/*  Don't display heading on top-level sections. */}}
        {{ if eq "section" .Kind }}
          {{ if ne .CurrentSection .FirstSection }}
            <h1 class="title">{{ .Title }}</h1>
          {{ end }}
        {{ end }}

        <ul>
          {{ range .Pages }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>
{{ end }}
