{{ with $.Page.Params.skills }}
  <section class="skills">
    <div class="columns justify-content-center">
      <div class="column is-half-tablet is-one-third-fullhd">
        <h2>What I can do</h2>

        {{ range . }}
          <div class="skill">
            <div class="box">
              <h3>{{ .skill }}</h3>

              {{ $usingLen := len .using }}
              <p>
                {{ range $i, $using := .using }}
                  {{ $using }}{{if ne (add $i 1) $usingLen}},{{ end }}
                {{ end }}
              </p>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
